h1{
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;  
}
.nrml{
  display: block;
  background-image: url('back.jpeg');
  height: 750px;
  background-size: 100% 100%;
}
.frm{
    margin-top: 100px;
    height: 350px;
    width: 400px;
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    line-height: 1;
    flex-direction: column;   
}
input{
    display: flex;
    margin: auto;
    padding:20px;
    padding-left: 20px;
    width: 300px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-family: 'Times New Roman', Times, serif; 
}
.btn2{
    padding: 15px;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    background-color:orangered;
    width: 300px;
    font-size: 16px;
    margin-top: 30px;
}
@media only screen and (max-width:600px){
  .frm{
    margin-left: -40px;
  }
}