@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
h1{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;  
}
.nrml{
  display: block;
  background-image: url('back.jpeg');
  height: 750px;
  background-size: 100% 100%;
}
.frm{
    margin-top: 100px;
    height: 350px;
    width: 400px;
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    flex-direction: column;   
}
.inpt{
    display: flex;
    margin: auto;
    padding:20px;
    padding-left: 20px;
    border-radius: 0px;
    width: 300px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}
.btn2{
    padding: 15px;
    border: none;
    border-radius: 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color:orangered;
    width: 300px;
    font-size: 16px;
    margin-top: 30px;
}
@media only screen and (max-width:600px){
  .frm{
    margin-left: -40px;
  }
}