h1{
    text-align: center;
    color: white;
    font-family:cursive;
    font-size: 50px;
   
}
.img{
  background-image: 'imagebg.jpg';
  width: 50%;
}
.nrml{
  display: block;
}
.mobile{
    display: none;
}
form{
 
    margin-top: 80px;
    border: 2px solid white;
    height: 350px;
    width: 400px;
    border-radius: 20px;
    background-color: #008080;   
    display: flex;
    margin-left: 550px;
    box-shadow: 0 0 30px rgba(0.6, 0.6, 0.6, 0.6);
      align-items: center;
      justify-content: center;
      font-family:cursive;
      line-height: 1;
      flex-direction: column;   
}
@media only screen and (max-width:600px){
  .moble{
    display:block;
    
  }
  .nrml{
    display: none;
  }
  form{
    margin-left: 120px;
    height: 250px;
    width: 360px;
  }
  input{
    width:200px;
  }
  
}

input{
    display: flex;
    margin: auto;
    padding:20px;
    padding-left: 30px;
    width: 300px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-family: cursive;
   
}
.wrap {
  position:relative;
}

.icon {
  margin-left: 10px;
  margin-top: 12px;
  position: absolute;

}
.wrap2{
  position:relative;
}

.icon2 {
  margin-left: 10px;
  margin-top: 42px;
  position: absolute;

}
.btn{
    padding: 15px;
    border: none;
    color: white;
    font-family: cursive;
    cursor: pointer;
    background-color:black;
    width: 150px;
    font-size: 16px;
    margin: auto;
}