.main{
    background-image: url('main.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100%  100%;
}
.row{
    margin-left: 10px;
}
.card{
    margin: 30px;
}

@media only screen and (max-width:600px){
    .main{
        height: 5200px;
    }
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .card{
        margin: 30px;
    }
}