@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.bg{
    background-image: url('C:\TastyHug\src\Pages\PAY.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100%  100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn4{
    
    padding: 15px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color:black;
    width: 150px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 120px;
}
.inpt2{
    display: flex;
    margin-left: 50px;
    padding:20px;
    padding-left: 20px;
    border-radius: 0px;
    width: 300px;
    height: 20px;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 10px ;
}
.container .cad .img-box {
    margin-left: 130px;
    margin-top: -60px;
    width: 80px;
    height: 50px;
}
.container .cad img {
    width: 100%;
    object-fit: fill;
}
.container .cad .number {
    font-size: 24px;
}

