.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;   
}
.card{
    padding: 10px;  
}
a{
    text-decoration: none;
    color: white;
}
.img{
    background-image: url('C:\TastyHug\src\Pages\weback.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@media only screen and (max-width:600px){
    .row{
        flex-direction: column;
    }
    .row2{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 15px;   
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: black;
    }
}