.bttn{
    border-radius: 0px;
    margin: 20px;
}
.btn3{
    margin-left: 360px;

}
.fm{
   margin-left: 30px;
}
input{
    margin: 15px;
}
.add{
    margin-left: 50px;
}
@media only screen and (max-width:600px){
    .add{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:'90px'
    }
    .grey{
        background-color: lightgray;
        height: 1200px;
    }
    .fm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
    }
    .imgfrm{
        margin-left: 110px;
    }
    input{
        margin: 0px;
    }
    h6{
        text-align: center;
       padding: 20px;
    } 
    .btn3{
        margin-left: -30px;
        margin-top: -40px;
    }
    .bttn{
        background-color: orangered;
        color: black;
        border-radius: 0px;
        border-color: white;
        margin: 20px;
    }
}